$content-width: 60rem;

$body-font-family: pretendard-gov, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
  roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace;
